body {
  background-color: lightblue;
}

.mainheading{color:blue}
h1 {color: red}
h1 {color: navy;}

body{color: darkgreen}
span{color:black}

/*-------- Set borders on the tables --------------------------*/
table { border-collapse: collapse; }

/* Double bottom border after the first row in a vertical table */
.vertical tr:first-of-type { border-bottom: double; }
/* Double right border on header cells in a horizontal table */
.horizontal th { border-right: double; }

/* thin solid border below each row... */
tr { border-bottom: thin solid; } 
/* except the last */
tr:last-of-type { border-bottom: none; } 
/* thin solid right border on every td... */
td { border-right: thin solid; }
/* except the last on each row */
td:last-of-type { border-right: none; }
/* Thin right border on the first th cell in a vertical table */
.vertical th:first-of-type { border-right: thin solid; }

/*------- SELECTORS --------------------------------------------*/
/* By element tag */
caption { font-style: italic; }

/* By class attribute */
.horizontal { color: blue; }

/* By id attribute */
#pennsy { border: thick solid darkred; }

/* By ancestor */
div ul { color: green; }

/* By parent */
div > ul { color: red; }

/* By sibling */
th + td { color: orange; }

/* Pseudo-classes */
li:first-child { color: purple; }
td:nth-of-type(4) { color: darkred; }

/*------------------- Dynamic dropdown menu ---------------------*/
.menuparent { 
    /* Not a list */
    display: inline; 
    list-style-type: none;
    padding-left: 0;
}
.menuparent > li { 
    /* Not a list */
    display: inline;
    /* Allow this element to be used for positioning */ 
    position: relative;
}

/* Menu is hidden by default */
.menuparent .menu { display: none; }

/* This is the actual menu */
.menuparent ul {
    /* So it appears just below and to the right of the menuparent */ 
    position: absolute; 
    top: 2.1ex;
    left: -2em;
    /* This isn't a *real* list */
    list-style-type: none;
}

/* Menu items */
.menu > li { 
    /* Mark off the items from each other */
    border: thin solid black;
    /* Remove the coloring from the other parts of the stylesheet */
    color: inherit;
    /* Make the menu items obscure anything they cover */
    background-color: skyblue;
    /* Make the items a little less cramped-looking */
    padding: .1em;
}

/* When the mouse hovers over the menuparent, show the menu */
.menuparent:hover .menu { display: inherit; }
/* When the mouse passes over a menu item, give it a blue background */
.menu > li:hover { background-color: white; }

/* --------------------- FONTS ------------------------------*/

.vertical tr:first-of-type {
    font-family: "Bookman Old Style", "Times New Roman", serif
}
.vertical tr:nth-of-type(2) > td:first-child { 
    font-family: "Gill Sans MT", sans-serif; 
}
.vertical tr:nth-of-type(4) > td:first-child { 
    font-family: "French Script MT", cursive; 
}
.vertical tr:nth-of-type(3) > td:nth-last-of-type(2) {
    /* Use dings with care! */
    font-family: "Webdings", fantasy;
}
.vertical td:last-child { 
    font-family: "Courier New", monospace; 
}